@keyframes example {
	from {background-position:bottom center;}
    to {background-position:top center;}
}

@keyframes header {
    from {background-position:0px -50px;}
    to {background-position:360px 0px;}
}
@keyframes navbuttonhover {
    from {opacity: 1;}
    to {opacity: 0.7;}
}
